@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="content">
    <div id="gpt35">
        <h3> Modelo GPT 3.5 Turbo</h3>
        <p> Aquí va el chat del modelo no entrenado.</p>
    </div>

    <div id="gpt35ft">
        <h3> Modelo GPT 3.5 Turbo Entrenado</h3>
        <p> Aquí va el chat del modelo entrenado.</p>
    </div>

    <div id="chatbox">
        <p> Aqui va la caja para escribir el mensaje</p>
    </div>
</div>
    