@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="content">
    <div id="gpt35">
        <p> Aquí va el chat del modelo no entrenado.</p>
    </div>
    <div id="gpt35ft">
        <p> Aquí va el chat del modelo entrenado.</p>
    </div>
</div>
