@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="total">
    <table class="tabla">
        <tr>
            <th id="top" colspan="2"> Asistente de Tramitación - Pruebas de funcionamiento </th>
        </tr>
        <tr>
            <td class="user" rowspan="2">
                <textarea id="usrbox" name="mensaje" placeholder="Mensaje al Asistente..."></textarea>
            </td>
            <td class="cels1"> <button type="submit" id="button1"> ➡ Enviar </button> </td>
        </tr>
        <tr>
            <td class="cels2"> <button type="reset" id="button2"> ➕ Nueva conversación </button> </td>
        </tr>
    </table>
    <table class="tabla">
        <tr>
            <td class="mid"> GPT-3.5 Turbo </td>
            <td class="mid"> GPT-3.5 Turbo (entrenado) </td>
        </tr>
        <tr>
            <td class="answer"> Respuesta GPT-3.5 Turbo </td>
            <td class="answer"> Respuesta GPT-3.5 Turbo (entrenado) </td>
        </tr>
        <tr>
            <td class="cels3" colspan="2"> <button id="button3"> ⭐ Valorar las respuestas </button> </td>
        </tr>
        <tr>
            <th id="bot" colspan="2">  </th>
        </tr>
    </table>
</div>

<div id="modal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <p>¿Qué Asistente ha respondido mejor?</p>
        <div>
            <table>
                <tr>
                    <td class="cels4"> <button type="submit" id="button4"> GPT-3.5 Turbo </button> </td>
                    <td class="cels4"> <button type="submit" id="button5"> GPT-3.5 Turbo (entrenado) </button> </td>
                </tr>
            </table>
        </div>
    </div>
</div>
