html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}

#gpt35 {
    width: 40%;
    height: 600px;
    float: left;
    background-color: lightblue;
    margin-left: 7.5%;
    margin-right: 5%;
}
#gpt35ft {
    width: 40%;
    height: 600px;
    float: left;
    background-color: lightcoral;
    margin-right: 7.5%;
    margin-bottom: 30px;
}
#chatbox {
    width: 85%;
    height: 50px;
    background-color: lightgreen;
    clear: both;
    margin-top: 10%;
    margin-left: 7.5%;
}

.total {
    margin: 0 auto;
    width: 100%;
    padding: 0px;
}
.tabla {
    width: 100%;

}
#top {
    font-weight: bold;
    color: white;
    background: #802429;
    border-radius: 20px 20px 0px 0px;
    height: 40px;
    padding: 8px;
}
.mid {
    font-weight: bold;
    color: white;
    text-align: center;
    background: #802429;
    height: 40px;
    padding: 8px;
}
#bot {
    font-weight: bold;
    color: white;
    background: #802429;
    border-radius: 0px 0px 20px 20px;
    height: 40px;
    padding: 8px;
}

.user {
    border: 2px solid #802429;
    width: 90%;
    height: 125px;
}
#usrbox {
    width: 100%;
    height: 100%;
    resize: none;
    border: 1px solid white;
}

.cels1 {
    border: 2px solid #802429;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
.cels2 {
    border: 2px solid #802429;
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
#button1, #button2 {
    width: 100%;
    height: 100%;
    display: block;
    padding: 0;
    margin: 0;
}

.answer {
    width: 50%;
    border: 2px solid #802429;
    background: white;
    padding: 8px;
    height: 500px;
}

.cels3 {
    border: 2px solid #802429;
    width: 100%;
    height: 40px;
}
#button3 {
    width: 100%;
    height: 100%;
    display: block;
    padding: 0;
    margin: 0;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 3px solid #802429;
    width: 40%;
}
.close {
    color: #aaa;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
    line-height: 1;
}
    .close:hover, .close:focus {
        color: #802429;
        text-decoration: none;
        cursor: pointer;
    }

.cels4 {
    border: 2px solid #802429;
    width: 50%;
    height: 50px;
}
#button4 {
    width: 100%;
    height: 100%;
    display: block;
    padding: 0;
    margin: 0;
}
#button5 {
    width: 100%;
    height: 100%;
    display: block;
    padding: 0;
    margin: 0;
}